/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Source+Sans+Pro&display=swap");

/* CSS Reset */

* {
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}

a {
    text-decoration: none;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
}


/* Styling */

body {
    /* color: #595959; */
    color: black;
    font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

h1 {
    font-weight: 800;
}

.logo-img {
    height: 45px;
}

header {
    padding: 2% 0;
}

.button {
    background-color: #3184ed;
    color: white;
}

header #bar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
}

header nav.pages {
    width: 25%;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

header nav.links {
    width: 15%;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

header #content {
    margin-top: 2%;
}